body {
    overflow: hidden;
    /* height: 100vh */
}

.settings {
    display: none;
    opacity: 0;
}

.settings.active {
    opacity: 1;
    display: flex;
    /* transition: opacity 1s ease-in-out; */
}



#nearbyList {
    display: none;
}

#nearbyList.active {
    display: flex;
}

#mobileArr {
    display: none;
}

#mobileArr.active {
    display: flex;
}


.feedbackAlert.active {
    opacity: 1;
    position: fixed;
    top: 20px;
    background-color: #fcefc5;    
    padding: 15px 20px;
    border-radius: 0.25rem;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


#modal {
    z-index: 1000;
    opacity: 0;
    display: none;
    transition: all 0.5s;
}

#modal.active {
    opacity: 1;
    position: fixed;
    display: flex;
}

/* @media only screen and (min-width: 20em) {
    #modal.active {
        bottom: 0;
        width: 20rem;
    }
}  */
